<div class="card">
  <div class="card-header text-center">
    <h3><b>FIND MY STAY</b></h3>
  </div>
</div>  

<div class ="top-search">
<form class ="form col-md-6 mx-auto search" #searchForm ="ngForm" (ngSubmit)="searchNow()">

    <!-- Radio Buttons - International/Intestate-->
    <div class="radio-btns">
        <div class="form-group">
            <input type="radio" name="travelType" value="international" [(ngModel)]="search.from" required
              #from="ngModel" [class.is-invalid]="from.invalid && from.touched">
            <label for="type">International</label>       
        </div>
        <div class="form-group">
            <input type="radio" name="travelType" value="interstate" [(ngModel)]="search.from" required
            #from="ngModel" [class.is-invalid]="from.invalid && from.touched">
            <label for="type">Interstate</label>       
        </div>
        <small class="text-danger" [class.d-none]="from.valid || from.untouched">Please select one option</small> 
    </div>

    <div class="selectopts">
    <!-- Airport -->
    <!-- <div class="form-group ">
      <label>Airport</label>
      <select class="custom-select form-control" name="airport" required >
        <option selected>Select</option>
        <option *ngFor ="let i of airports">{{i}}</option>
      </select>
    </div> -->
    <div class="form-group">
      <label class="form-label">Arrival Airport</label>
      <select class="form-select form-control" name="district" required [(ngModel)]=search.district
      #district="ngModel" [class.is-invalid]="district.invalid && district.touched">
        <option selected value="">Select</option>
        <option  *ngFor="let i of airports" value="{{i}}">{{i}}</option>
      </select>
      <small class="text-danger" [class.d-none]="district.valid || district.untouched">Please select the airport</small> 
     </div>
    <!-- Check-In Date -->
    <div class="form-group ">
     <label class="form-label">Check-In</label>
        <input type="date" class="form-control" required name="date" required [(ngModel)]=search.date>
    </div>
    <!-- No. of Days -->
    <div class="form-group ">
    <label class="form-label">No. of Days</label>
    <select class="custom-select" name="noOfDays" class="form-control" required [(ngModel)]=search.noOfDays>
        <option value=''selected>Select</option>
        <option value="7">7</option>
        <option value="14">14</option>
        <option value="28">28</option>
      </select>
    </div>
</div>
    <!-- SEARCH & RESET Buttons -->
  <div class ="btns">
  
  <button class="searchbtn btn btn-md" type="submit">SEARCH</button>
  <button type="reset" class="resetbtn btn btn-md btn-warning">RESET</button>
 </div>
</form>
  
</div>


<div class ="bottom-result" *ngIf="isSearch && search.district!=''" >
    <h3 class="text-center">SEARCH RESULTS</h3>
    <!-- Sorting & Filtering -->
    <div class ="sorts-filters shadow">
    <form>
      <label class="form-label">SORT BY</label>
      <select class="form-select form-control" name="district" required [(ngModel)]="sort">
        <!-- <option  *ngFor="let i of sorts" value="{{i}}">{{i}}</option> -->
        <option value="">Select</option>
        <option value="distanceFromAirport">Distance</option>
        <option value="rating">Rating</option>
        <option value="price">Price</option>
      </select>
      <label class="form-label">ORDER BY</label>
      <select class="form-select form-control" name="district" required [(ngModel)]="order">
        <!-- <option  *ngFor="let i of orders" value="{{i}}">{{i}}</option> -->
         <option value="asc" selected>A to Z|Low to High</option>
         <option value="desc">Z to A|High to Low</option>
      </select>
      <label class="form-label">FILTER BY</label>
      <select class="form-select form-control" name="district" required [(ngModel)]="filter">
        <!-- <option  *ngFor="let i of filters" value="{{i}}">{{i}}</option> -->
        <option value='' selected>All</option>
        <option value="Hotel">Hotel</option>
        <option value="Homestay">Homestay</option>
        <option value="Resort">Resort</option>
      </select>
      <button class="btn btn-dark" type="submit" (click) = "sortFilter()" style="margin-right: 20px;">UPDATE</button>
      <button type="reset" class="btn btn-warning"> RESET</button>
    </form>
   </div>
    <!-- Result 1 -->  
    <div class="alert alert-info text-center" role="alert" *ngIf="stays.length<=0">
      NO RESULTS FOUND!
    </div>
    <!-- |filter:'filterBy':'type'|sort:['sortBy','orderBy'] -->
    <div class="card" *ngFor="let stay of stays|filter:filterBy:'type'|sort:[sortBy,orderBy]|paginate: { itemsPerPage: 10, currentPage: p }">
      <div class="alert alert-info" role="alert" *ngIf="!stays || stays.length<=0">
        NO RESULTS FOUND!
      </div>
        <div class="card-body shadow">
          <div class="row">
              <div class="left col-lg-3">
                 <img src="{{stay.image}}"  width="100%" height="100%">  
              </div>
              <div class="right col-lg-4">
                <h4 class="card-title">{{stay.hotelName}}</h4>
                <h6 class="card-subtitle mb-2 text-muted">{{stay.district}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Rating: <span class="badge rounded-pill bg-success">{{stay.rating}}/5</span></h6>
                <h6 class="card-subtitle mb-2 text-muted">Distance from airport: {{stay.distanceFromAirport}} km</h6>

                <a routerLink="" class="card-link" (click)="viewStay(stay)">View More</a>
                <hr>
              </div>    
              <div class="right col-lg-4">
                <h6 class="card-subtitle mb-2 text-muted"><span class="badge rounded-pill term">Free Cancellation 24hrs before check-in</span></h6>
                <h6 class="card-subtitle mb-2 text-muted"><span class="badge rounded-pill safety"> <span class="fa fa-check-circle"></span> &nbsp; Safety & Hygiene certified</span></h6>
                <h6 class="card-subtitle mb-2 text-muted"><span class="badge bg-danger">PER NIGHT</span></h6>
                   <div class="price">{{stay.price}} <span class="curr"> INR</span></div>
                
              </div>        
          </div>
        </div>
      </div>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    <!-- /Result 1 -->
   
</div>